/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/loading/styles.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.styles_loadingWrapper__nG_r3 {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styles_loading__NW2Gu {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: styles_spin__CkTyK 1s ease-in-out infinite;
  -webkit-animation: styles_spin__CkTyK 1s ease-in-out infinite;
}

@keyframes styles_spin__CkTyK {
  to {
    -webkit-transform: rotate(360deg);
  }
}

