/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/categories/styles.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.styles_categories__GxVBc {
  display: flex;
  height: 72px;
  gap: 24px;
}

.styles_category__Fq1Rx {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #333;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  font-weight: 700;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/skeleton/styles.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.styles_skeleton__mnyIv {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 100%;
}

.styles_skeleton__mnyIv::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.25) 25%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0)
  );
  animation: styles_shimmer__w9nIN 2s infinite;
  content: "";
}

@keyframes styles_shimmer__w9nIN {
  100% {
    transform: translateX(100%);
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/featured-movie/styles.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.styles_movieWrapper__fTDwv {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 56px;
  margin-bottom: 56px;
}

.styles_movieTitle__9rXsW {
  font-size: 72px;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 900;
  line-height: 72px;
  max-width: 25ch;
}

.styles_overview__LR1XB {
  font-size: 24px;
  max-width: 50ch;
}

.styles_shortOverview__QMcGt {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.styles_actionButtons__0P7of {
  display: flex;
  gap: 12px;
}

.styles_addButton__41KZY {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #eee;
  border-radius: 999px;
  width: 62px;
  height: 62px;
  color: #eee;
}

.styles_playButton__jD_5W {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  color: #222;
  width: 300px;
  border-radius: 9999px;
  font-size: 20px;
  font-weight: 700;
}

.styles_moviePosterOverlay__jkXCI {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.9) 30%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: -1;
}

.styles_moviePoster__3YppB img {
  height: auto !important;
  z-index: -2;
  max-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/loading/styles.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.styles_loadingWrapper__5Ahwn {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styles_loading__UpWWr {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: styles_spin__XKrZx 1s ease-in-out infinite;
  -webkit-animation: styles_spin__XKrZx 1s ease-in-out infinite;
}

@keyframes styles_spin__XKrZx {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/movies-section/styles.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.styles_moviesSection__7yt2z {
  margin-top: 36px;
}

.styles_title__QjBZO {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: -1px;
}

.styles_movies__MK1JV {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: 320px;
  gap: 24px;
}

.styles_movie__sP8Fc {
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.styles_movie__sP8Fc:hover {
  z-index: 9;
  transform: scale(1.25);
}

